#root {
  width: 100%;
  display: flex;
  padding: 0 5em;
}

.input-section {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 3em;
  border-radius: 10px;
}

section > div {
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header:hover {
  .toggle-icon {
    opacity: 1;
  }
}

.toggle-icon {
  opacity: 0;
  transition:
    opacity 100ms ease-in,
    transform 100ms ease;
}

.toggle-icon.expanded {
  transform: rotate(180deg);
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.personalInfo > input {
  max-width: 200px;
}

input,
textarea {
  font-size: 14px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 1px 1px 10px 0px black;
}

.exp-container,
.edu-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.experience-info,
.edu-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.company-details,
.institute-details,
.company-duration,
.institute-duration,
.exp-details {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.date {
  max-width: 140px;
}

.CV-preview {
  width: 100%;
  height: auto;
}

.remove-icon {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.exp-container:hover,
.edu-container:hover {
  .remove-icon {
    opacity: 1;
  }
}

button {
  width: 150px;
  align-self: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #131313;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ad20ff;
  background-color: #1f1f1f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.CV-preview {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 7px black;
  background-color: #242424;
}

.CV-header {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #63198d;
  border-radius: 10px 10px 0 0;
}

.CV-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 5em;
  > div {
    width: 100%;
  }
}

.experience-preview,
.education-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.experience,
.education {
  display: flex;
  width: 100%;
  > div {
    height: 100%;
  }
}

.experience-left,
.education-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-right,
.education-right {
  width: 70%;
  min-width: 0;
  > p {
    word-wrap: break-word;
  }
}

.date-disp {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.company-name,
.institute-name {
  font-size: 20px;
  font-weight: bold;
}

.clear {
  align-self: flex-end;
}
