#root {
  width: 100%;
  display: flex;
}

.input-section {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 3em;
  border: 1px solid white;
  border-radius: 10px;
}

/* section > h2 {
  align-self: center;
} */

section > div {
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header:hover {
  .toggle-icon {
    opacity: 1;
  }
}

.toggle-icon {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.personalInfo > input {
  max-width: 200px;
}

.experienceInfo,
.schoolInfo {
  display: flex;
  gap: 1rem;
}
.date {
  max-width: 120px;
}

input {
  margin-left: 5px;
  padding: 2px 5px;
}
